
.imagemContato {
    max-width: 30px;
    background-color: white;
    border-radius: 50%;

}

.imagemContato:hover {
    background-image: linear-gradient(to right, cyan, white);
}

.hover {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
  }
  
.hover::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  a:hover::before {
    bottom: 0;
    height: 100%;
  }

  .imgProfile {
    display:block;
    min-width:300px;
    max-height: 280px;

    object-fit:;
    /* 
    
     [clip-path coordinates]
    
      --A-F--
     B|/   \|E    coord.
      |\   /|       A(a/w, 0)
      --C-D--       B(0, 50%)
                    C(a/w, 100%)
                    D(100% - a/w, 100%)
                    E(100%, 50%)
                    F(100% - a/w, 0)
                  where a/w = 0.24999999999
    */
    --aw:24.99999999999%;
    clip-path:polygon(
      var(--aw) 0,
      0 50%,
      var(--aw) 100%,
      calc(100% - var(--aw)) 100%,
      100% 50%,
      calc(100% - var(--aw)) 0
    );
  }
    
  .imgProfile:hover {
    filter:drop-shadow(0 0 10px powderblue);
    z-index:10;
  }