

.align-center {
    text-align: center;
}

p, h1, h2 { 
    color: #ffffff
}


.letter {
    display: inline-block;
    transition: transform 0.3s ease-out;
  }
  
.letter:hover {
  transform: translateY(-10px);
}

.borderHeader {
    background-image: linear-gradient(to right, blue, red, blue);
    background-position: bottom;
    background-size: 95% 3px ;
    background-repeat: no-repeat;

}

header {
  background-color: black;
  z-index: 1;
  height: 50px;
}

.imageAvatar {
  max-width: 40px;

}