#modal {
  background-color: rgba(98, 111, 111, 0.555);
  height: 88vh;
  min-width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal-box {
  height: 50%;
  width: 300px;
  margin: 50px auto;
  background-color: white;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-button {
  /* outros estilos do botão */
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

.custom-button-close {
  position: relative;
}

.custom-button-close::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.custom-button-close:hover::after {
  width: 100%;
}

.custom-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: cyan;
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  width: 100%;
}
