#modal {
  background-color: rgba(98, 111, 111, 0.555);
  height: 40vh;
  min-width: 100vw;
  position: fixed;
  top: 25.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.modal-box {
  height: 100%;
  width: 200px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}