
.bgdiv {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border: none !important;
}

#modal {
  background-color: rgba(23, 24, 26, 0.777);
  width: 150px;
  display: flex;
  height: 40vh;
  z-index: 999;
  overflow-y: auto;
  position: absolute;
  right: 22%;
}

.buttonClose {
  background-color: transparent;
  border: none;

}
