#footer {
    height: 70px;

}

.borderFooter {
    background-image: linear-gradient(to right, cyan, white, cyan);
    background-position: top;
    background-size: 100% 1px ;
    background-repeat: no-repeat;
}
