#footer {
    height: 70px;

}

.borderFooter {
    background-image: linear-gradient(to right, blue, red, blue);
    background-position: top;
    background-size: 100% 3px ;
    background-repeat: no-repeat;
}
